* {
    padding: 0;
    margin: 0;
}
.center {
    padding-left: calc(50% - 1400px/2);
    padding-right: calc(50% - 1400px/2);
}

.card__characters {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.character__card {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     gap: 15px;
 }
 .character__card:hover {
     transform: scale(1.05);
     background: none;
 }
 .character__info {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
 }