<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title class="title">Список задач</title>
</head>
<body>
<div class="form-block" th:switch="${tasks}">
    <h2 th:case="null">Пока нет задач</h2>
    <div th:case="*">
        <h2 class="header2">Задачи</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="main-column">Название</th>
                <th class="main-column">Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <a href="/create">Добавить задачу</a>
    </p>
</div>
</body>
</html>